﻿<div ng-controller="contactCtrl as vm">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-view style="margin-top: 20px">
                        <button id="addcontent" class="btn btn-large btn-success">Add</button>
                        <br /><br />
                        <table class="table table-hover general-table">
                            <thead class="grid-top-panel">
                                <tr>
                                    <th style="display:none">Contact ID</th>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Country</th>
                                    <th>City</th>
                                    <th style="text-align:right;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dataModel in vm.paginatedContacts">
                                    <td style="display:none">{{ dataModel.contactId }}</td>
                                    <td>{{ $index+1 }}</td>
                                    <td><img ng-src="{{ dataModel.image }}" style="height:100px;width:100px" /></td>
                                    <td>{{ dataModel.firstName }}</td>
                                    <td>{{ dataModel.lastName }}</td>
                                    <td>{{ dataModel.phoneNumber }}</td>
                                    <td>{{ dataModel.gender }}</td>
                                    <td>{{ dataModel.email }}</td>
                                    <td>{{ dataModel.address }}</td>
                                    <td>{{ dataModel.country }}</td>
                                    <td>{{ dataModel.city }}</td>
                                    <td style="text-align:right; color:white">
                                        <span id="save" class="btn btn-primary margin-right-btn"
                                              ng-click="vm.GetContactById(dataModel)">
                                            Edit
                                        </span>
                                    </td>
                                    <td style="text-align:left; color:white">
                                        <span>
                                            <span id="save" class="btn btn-danger margin-right-btn"
                                                  ng-click="vm.DeleteContact(dataModel)">
                                                Delete
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <pagination ng-model="vm.pageIndex"
                                            total-items="vm.contacts.length"
                                            ng-change="vm.contactPageChanged()"
                                            max-size="maxSize"
                                            items-per-page="vm.pageSize"
                                            boundary-links="true">
                                </pagination>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PopUp Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:630px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ vm.titleText }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form novalidate name="frmContact" id="frmContact" class="form-horizontal row-border">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> First Name</label>
                                        <div>
                                            <input type="text" id="firstName" class="form-control" name="firstName" ng-model="vm.firstName" required />
                                            <span style="color:red" ng-show="frmContact.firstName.$dirty && frmContact.firstName.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Last Name</label>
                                        <div>
                                            <input type="text" id="lastName" class="form-control" name="lastName" ng-model="vm.lastName" required />
                                            <span style="color:red" ng-show="frmContact.firstName.$dirty && frmContact.lastName.$error.required">Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Phone Number</label>
                                        <div>
                                            <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" ng-model="vm.phoneNumber" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Gender</label>
                                        <div>
                                            <select name="gender" id="gender" class="form-control" ng-model="vm.gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Address</label>
                                        <div> <input type="text" id="address" class="form-control" name="address" ng-model="vm.address" /> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Country</label>
                                        <div> <input type="text" id="country" class="form-control" name="country" ng-model="vm.country" /> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> City</label>
                                        <div> <input type="text" id="city" class="form-control" name="city" ng-model="vm.city" /> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Email</label>
                                        <div>
                                            <input type="email" id="email" class="form-control" name="email" ng-model="vm.email" required />
                                            <span style="color:red" ng-show="frmContact.firstName.$dirty && frmContact.email.$error.required">Required</span>
                                            <span style="color:red" ng-show="frmContact.firstName.$dirty && frmContact.email.$error.email">Please enter correct email!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <input style="padding-left: 18px;" type="file" file-model="vm.myFile" valid-file/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" ng-disabled="frmContact.$invalid" class="btn btn-primary" ng-click="vm.SaveUpdate()">{{vm.btnText}}</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $('#addcontent').on('click', function (event) {
        $('#exampleModal').modal('show');
    });

</script>