﻿<div ng-controller="employeeCtrl as vm">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-view style="margin-top: 20px">
                        <table class="table table-hover general-table">
                            <thead class="grid-top-panel">
                                <tr>
                                    <th style="display:none">EmployeeID</th>
                                    <th>#</th>
                                    <th>Employee Name</th>
                                    <th>Email Address</th>
                                    <th>Contact Number</th>
                                    <th>Start Date</th>
                                    <th>Gender</th>
                                    <th>Department Name</th>
                                    <th>Address</th>
                                    <th>Is Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dataModel in vm.dashboardEmployees">
                                    <td style="display:none">{{ dataModel.employeeId }}</td>
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ dataModel.firstName }} {{ dataModel.lastName }}</td>
                                    <td>{{ dataModel.email }}</td>
                                    <td>{{ dataModel.phoneNumber }}</td>
                                    <td>{{ dataModel.startDate | date:'dd-MM-yyyy' }}</td>
                                    <td>{{ dataModel.gender }}</td>
                                    <td>{{ dataModel.departmentName }}</td>
                                    <td>{{ dataModel.address }}</td>
                                    <td>{{ dataModel.isActive }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td align="center" colspan="9">
                                        <span class="form-group pull-left page-size form-inline">
                                            <select id="ddlPageSize" class="form-control control-color"
                                                    ng-model="vm.pageSize"
                                                    ng-change="vm.changePageSize()">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="15">15</option>
                                                <option value="20">20</option>
                                            </select>
                                        </span>
                                        <div class="pull-right">
                                            <pagination total-items="vm.dashboardTotalCount" ng-model="vm.pageIndex" ng-change="vm.pageChanged()" items-per-page="vm.pageSize" direction-links="true" max-size="vm.maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                                            <a class="btn btn-primary">Page: {{vm.pageIndex}} / {{numPages}}</a>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>