﻿<div ng-controller="employeeCtrl as vm">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-view style="margin-top: 20px">
                        <button id="addemployee" class="btn btn-large btn-success">Add</button>
                        <br /><br />
                              <table class="table table-hover general-table">
                                  <thead class="grid-top-panel">
                                      <tr>
                                          <th style="display:none">EmployeeID</th>
                                          <th>#</th>
                                          <th>Contact Person</th>
                                          <th>Start Date</th>
                                          <th>Salary</th>
                                          <th>Is Active</th>
                                          <th>Department</th>
                                          <th style="text-align:right;">Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr ng-repeat="dataModel in vm.paginatedemployees">
                                          <td style="display:none">{{ dataModel.employeeId }}</td>
                                          <td>{{ $index+1 }}</td>
                                          <td>{{ dataModel.contact.firstName }} {{ dataModel.contact.lastName }}</td>
                                          <td>{{ dataModel.startDate | date:'dd-MM-yyyy'}}</td>
                                          <td>{{ dataModel.salary | currency }}</td>
                                          <td ng-if="dataModel.isActive">&#x2713;</td>
                                          <td ng-if="!dataModel.isActive">&#x2717;</td>
                                          <td>{{ dataModel.department.departmentName }}</td>
                                          <td style="text-align:right; color:white">
                                              <span id="save" class="btn btn-primary margin-right-btn"
                                                    ng-click="vm.GetEmployeeById(dataModel)">
                                                  Edit
                                              </span>
                                          </td>
                                          <td style="text-align:left; color:white">
                                              <span>
                                                  <span id="save" class="btn btn-danger margin-right-btn"
                                                        ng-click="vm.DeleteEmployee(dataModel)">
                                                      Delete
                                                  </span>
                                              </span>
                                          </td>
                                      </tr>
                                  </tbody>
                                  <tfoot>
                                      <pagination ng-model="vm.pageIndex"
                                                  total-items="vm.employees.length"
                                                  ng-change="vm.employeePageChanged()"
                                                  max-size="maxSize"
                                                  items-per-page="vm.pageSize"
                                                  boundary-links="true">
                                      </pagination>
                                  </tfoot>
                              </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PopUp Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:630px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ vm.titleText }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form novalidate name="frmEmployee" id="frmEmployee" class="form-horizontal row-border">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Contact Person</label>
                                        <div>
                                            <select contactId='contactId' id="contactId" class="form-control" ng-model="vm.contactId" required>
                                                <option ng-value="data.contactId" ng-repeat="data in vm.contactList">{{data.firstName}} {{ data.lastName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Users" class="control-label">Department Name</label>
                                        <select departmentId='departmentId' id="departmentId" class="form-control" ng-model="vm.departmentId">
                                            <option ng-value="data.departmentId" ng-repeat="data in vm.departmentList">{{data.departmentName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="date"> Start Date</label>
                                        <div>
                                            <input type="text" id="startDate" class="form-control" name="startDate" placeholder="MM/DD/YYY" ng-model="vm.startDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label control-label" for="input17"> Salary</label>
                                        <div>
                                            <input type="text" id="salary" class="form-control" name="salary" ng-model="vm.salary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="isAdim" ng-model="vm.isAdim">
                                            <label class="form-check-label" for="exampleCheck1">Is Admin</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="isActive" ng-model="vm.isActive">
                                            <label class="form-check-label" for="exampleCheck1">Is Active</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.Clear()">Close</button>
                    <button type="button" ng-disabled="frmEmployee.$invalid" class="btn btn-primary" ng-click="vm.SaveUpdate()">{{vm.btnText}}</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $('#addemployee').on('click', function (event) {
        $('#exampleModal').modal('show');
    });

    $(document).ready(function () {
        var date_input = $('input[name="startDate"]'); //our date input has the name "date"
        var container = $('.modal-body').length > 0 ? $('.modal-body').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        };
        date_input.datepicker(options);
    })

</script>
