﻿<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div ng-controller="departmentCtrl as vm">
                    <h4 style="padding-left:32px"> Add Department</h4><br />
                    <form novalidate name="frmStudent" id="frmStudent" class="form-horizontal row-border">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="input17"> Department Name</label>
                                <div class="col-md-7"> <input type="text" id="idDepartmentName" class="form-control" name="nameDepartmentName" ng-model="vm.departmentName" /> </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="input17"> Department Description</label>
                                <div class="col-md-7"> <input type="text" id="idDepartmentDescription" class="form-control" name="nameDepartmentDescription" ng-model="vm.departmentDescription" /> </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-4"> </div>
                                <div class="col-md-8">
                                    <span id="save" class="btn btn-success margin-right-btn" ng-click="vm.SaveUpdate()">
                                        <i class="icon-save"></i> {{vm.btnText}}
                                    </span>
                                </div>
                            </div>
                        </div>


                    </form>

                    <table class="table table-hover general-table">
                        <thead class="grid-top-panel">
                            <tr>
                                <th style="display:none">DepartmentID</th>
                                <th>#</th>
                                <th>Department Name</th>
                                <th>Department Description</th>
                                <th style="text-align:right;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataModel in vm.paginateddepartments">
                                <td style="display:none">{{ dataModel.departmentId }}</td>
                                <td>{{ $index+1 }}</td>
                                <td>{{ dataModel.departmentName }}</td>
                                <td>{{ dataModel.departmentDescription }}</td>
                                <td style="text-align:right; color:white">
                                    <span>
                                        <span id="save" class="btn btn-primary margin-right-btn"
                                              ng-click="vm.GetDepartmentById(dataModel)">
                                            Edit
                                        </span>
                                    </span>
                                </td>
                                <td style="text-align:left; color:white">
                                    <span>
                                        <span id="save" class="btn btn-danger margin-right-btn"
                                              ng-click="vm.DeleteDepartment(dataModel)">
                                            Delete
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <pagination ng-model="vm.pageIndex"
                                        total-items="vm.departments.length"
                                        ng-change="vm.departmentPageChanged()"
                                        max-size="maxSize"
                                        items-per-page="vm.pageSize"
                                        boundary-links="true">
                            </pagination>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>